body {
    justify-content: center;
    background: url(..//Website/images/Background.jfif) no-repeat;
    /*background-color: #daa96c;*/
    background-size: cover;
    background-position: center;
  }